header {
    display: flex;
    flex-direction: row;
    border: 5px solid  blue;
    overflow: hidden;
    flex-shrink: 1;

}

.move-container {
    flex-grow: 1;
}

.move-head {
    flex-shrink: 1;
    position: relative;
    animation: title 15s linear infinite alternate;
}

@keyframes title {
    0%   {color:red; left:0px; top:0px;}
  /* 25%  {background-color:yellow; left:200px; top:0px;} */
  50%  {color:rgb(0, 0, 48); left:100%; top:0;}
  /* 75%  {background-color:green; left:0px; top:200px;} */
  100% {color:red; left:0px; top:0px;}
}

